body {
    background: url(../img/hackbg.jpg);
    background-size: cover;
    margin-bottom: 200px; /* Margin bottom by footer height */
}

hr {
    width: 90%;
}

.row {
    padding-right: 0;
    margin-right: 0;
}

.footer {
    padding: 20px 0;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}

.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

#snpptd-home-main-header {
    font-family: 'Press Start 2P', cursive;
    font-weight: 700;
    font-size: 2em;
}

#snpptd-home-main-well {
    margin-left: 15px;
    background: rgb(30, 30, 30);
    color: #dddddd;
    font-family: 'Consolas', sans-serif;
    border-color: #73de73;
}

#snpptd-home-main-content {
    text-align: center;
    padding-top: 20%;
    padding-bottom: 50%;
}

#snpptd-home-fblogin-btn {
    width: 200px;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
    color: #dddddd;
    background-color: rgb(30, 30, 30);
}

.footer a {
    color: #73de73;
}

@media only screen and (max-width: 768px) {
    body {
        margin-bottom: 400px;
    }

    .footer {
        padding-left: 20px;
        height: 400px;
    }
}